.header-flexbox {
    text-align: center;
    color: #2b58ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-and-logo-flexbox {
    display: flex;
    flex-display: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.App-logo {
    height: 60px;
    width: 60px;
    vertical-align: top;
}

.login-button {
    font-family: Arial;
    font-size: 1rem;
    color: #2b58ab;
    background-color: whitesmoke;
    border: 0;
    border-radius: 30%;
    line-height: 2rem;
    float: right;
}

.login-button-div {
    float: right;
    flex-basis: 100%;
    padding: 10px;
}

.login-button:hover {
    color: white;
    transition: color 0.15s ease;
}