.header {
    /*text-align: center;*/
    color: #2b58ab;
}

/* Create post button styling */
.login-button {
    font-family: fontAwesome;
    font-size: 1rem;
    color: #2b58ab;
    /*background-color: rgba(0,0,0,0);*/
    /*border: 0;*/
    /*border-radius: 50%;*/
    /*height: 4rem;*/
    /*width: 2rem;*/
    line-height: 4rem;
    float: right;
}

.login-button-div {
    float: right;
    flex-basis: 100%;
    padding: 2px;
}

.login-button:hover {
    color: royalblue;
    transition: color 0.25s ease;
}