/* Post Component CSS */

  /* CITATION: I used the box-shadow parameter settings from here: 
                https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow */

.post_collection_div {
  width: 100%;
  height: 86vh;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  border-radius: 1%;
  overflow: hidden;
}

#post_collection_tools_div {
  display: flex;
  direction: column;
  justify-content: space-around;
  align-items: center;
  height: 7%;
  width: 100%;
  padding: auto;
  margin: auto;
  background-color: rgb(15, 15, 26, 0.1);
}

#createPostBtn {
  flex-basis: 5%;
  height: 2.5rem;
}

.post_scroll_div {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 50%;
  height: 93%;
  overflow-y:auto;
}

.post_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 16rem;
  min-height: 20rem;
  padding: 6px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3%;
  background-color: rgb(239,239,239);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.post_card {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: 0;
}

.post_div:hover {
  background-color: #f5f8ff;
  animation: grow 0.3s ease;
}

.connection_error_alert {
  flex-basis: 100%;
}

@keyframes grow {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.post_div > * {
  text-align: center;
  padding: 1px;
}

.post_listgroup {
  background-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  width: 100%;
}

.post_listgroup > * {
  background-color: rgba(0,0,0,0);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  font-size: 0.9rem;
  border: 0;
}

.post_datetext {
  font-size: 0.75rem;
  color: dark-gray;
  padding-bottom: 0.5rem;
}

.post_header {
  background-color: rgba(0,0,0,0);
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;      /* CITATION:  https://stackoverflow.com/a/13924997 */
  display: -webkit-box;         /* CITATION:  https://stackoverflow.com/a/13924997 */
  -webkit-line-clamp: 2;        /* CITATION:  https://stackoverflow.com/a/13924997 */
  -webkit-box-orient: vertical; /* CITATION:  https://stackoverflow.com/a/13924997 */
}

.postCardBody {
  height: 6rem;
}

.forceHeightDiv {
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#getMorePostsBtn {
  flex-basis: 100%;
  text-align: center;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 6px;
}

.post_div img {
  object-fit:cover;
  max-height: 13rem;
  height: auto;
  width: auto;
  border-radius: 4%;
  border: 1px solid rgba(0,0,0,0.55);
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);*/
}

.post_header_div {
  flex-basis: 100%;
}
.post_summary_div {
  flex-basis: 100%;
}

/* Create post button styling */
.create_post_button {
  font-family: fontAwesome;
  font-size: 4rem;
  color: dodgerblue;
  background-color: rgba(0,0,0,0);
  border: 0;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  float: right;
}

.create_post_button_div {
  float: right;
  flex-basis: 100%;
  padding: 10px;
}

.create_post_button:hover {
  color: rgb(1, 98, 204);
  transition: color 0.2s ease;
}

#fetchSpinnerDiv {
  height: 1rem;
  flex-basis: 100%;
  float: bottom;
}


/* Adjust sizing to respond to different screen sizes */
@media screen and (max-width: 600px) {
  .post_collection_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
  }
  
  .post_scroll_div {
    border-radius: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0), 0 6px 20px 0 rgba(0,0,0,0.0);
  }
  
  .create_post_button_div {
    justify-self: flex-end;
    flex-basis: 100%;
    padding: 10px;
  }
}


@media screen and (max-width: 300px) {
  .post_div {
    width: 100%;
    height: 20rem;
  }
}