.header-flexbox {
    text-align: center;
    color: #2b58ab;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top-line-flexbox {
    display: flex;
    justify-content: flex-end;
}

.title-and-logo-flexbox {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-basis: 10%;
    min-width: 81%;
    flex-direction: row;
}

.App-logo {
    height: 60px;
    width: 60px;
    vertical-align: top;
    justify-self: center;
}

.App-title {
    /*flex-basis: 1000%;*/
}

.login-logout-button {
    font-family: Arial;
    font-size: 1rem;
    color: #2b58ab;
    background-color: whitesmoke;
    border: 0;
    border-radius: 30%;
    line-height: 2rem;
    float: right;
}

.login-logout-button-div {
    float: right;
    flex-basis: 10%;
    padding: 10px;
}

.login-logout-button:hover {
    color: white;
    transition: color 0.15s ease;
}

.welcome-user-div {
    float: right;
    flex-basis: 10%;
    padding: 12px;
}

.welcome-border {
    /*margin: 10px;*/
}

.welcome-user-inner-div {
    font-family: Arial;
    font-size: 1rem;
    color: #2b58ab;
    background-color: whitesmoke;
    /*border: 0;*/
    border-radius: 20%;
    border: 1px dotted;
    line-height: 2rem;
    float: right;
}

.welcome-text {
    font-family: Arial;
    font-size: 1rem;
    color: #2b58ab;
    background-color: whitesmoke;
    border: 0;
    border-radius: 30%;
    line-height: 2rem;
    float: right;
}

.subtitle-flexbox {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.subtitle {
    flex-basis: 10%;
    min-width: 80%;
}

.space {
    flex-basis: 10%;
    min-width: 10%;
}