.header-flexbox {
    text-align: center;
    color: #2b58ab;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top-line-flexbox {
    display: flex;
    justify-content: flex-end;
}

.title-and-logo-flexbox {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    align-items: center;
    flex-basis: 10%;
    min-width: 89%;
    flex-direction: row;
    position: relative;
}

.App-logo {
    height: 60px;
    width: 60px;
    vertical-align: top;
    justify-self: center;
    margin-top: -15px;
}

.App-title {
    font-family: merriweather, serif;
    font-weight: 700;
}

.login-logout-button-div {
    float: right;
    padding: 10px;
}

.login-logout-button:hover {
    color: white;
    transition: color 0.15s ease;
}

.login-error {
    color: tomato;
}

.welcome-user-div {
    float: right;
    flex-basis: 10%;
    padding: 12px;
}

.subtitle-flexbox {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.subtitle {
    flex-basis: 10%;
    min-width: 80%;
}

.space {
    flex-basis: 10%;
    min-width: 10%;
}