/* Post Component CSS */

  /* CITATION: I used the box-shadow parameter settings from here: 
                https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow */

.post_collection_div {
  width: 100%;
  height: 86vh;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  border-radius: 1%;
  overflow: hidden;
}

#post_collection_tools_div {
  display: flex;
  direction: column;
  justify-content: space-around;
  align-items: center;
  height: 7%;
  padding: auto;
  margin: auto;
  background-color: rgba(15, 15, 26, 0.1);
}

#createPostBtn {
  flex-basis: 5%;
  height: 2.5rem;
}

.post_scroll_div {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 50%;
  height: 93%;
  overflow-y:auto;
}

.post_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 21rem;
  padding: 6px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.post_div:hover {
  background-color: #f5f8ff;
  animation: grow 0.3s ease;
}

@keyframes grow {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.post_div > * {
  text-align: center;
  padding: 1px;
}

.post_div h3 {
  font-size: 1.1rem;
}

.post_div h6 {
  font-size: 0.85rem;
}

.post_div p {
  font-size: 0.7rem;
}

.post_div img {
  object-fit:cover;
  max-width: 95%;
  max-height: 12rem;
  height: auto;
  width: auto;
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.post_header_div {
  flex-basis: 100%;
}
.post_summary_div {
  flex-basis: 100%;
}

/* Create post button styling */
.create_post_button {
  font-family: fontAwesome;
  font-size: 4rem;
  color: dodgerblue;
  background-color: rgba(0,0,0,0);
  border: 0;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  float: right;
}

.create_post_button_div {
  float: right;
  flex-basis: 100%;
  padding: 10px;
}

.create_post_button:hover {
  color: rgb(1, 98, 204);
  transition: color 0.2s ease;
}


/* Adjust sizing to respond to different screen sizes */
@media screen and (max-width: 600px) {
  .post_collection_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
  }
  
  .post_scroll_div {
    border-radius: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0), 0 6px 20px 0 rgba(0,0,0,0.0);
  }
  
  .create_post_button_div {
    justify-self: flex-end;
    flex-basis: 100%;
    padding: 10px;
  }
}


@media screen and (max-width: 300px) {
  .post_div {
    width: 100%;
    height: 20rem;
  }
}